
    <!-- page content -->
      <div id="data" class="">

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2> Region Data <small>Users</small></h2>

                <div class="clearfix"></div>
              </div>
              <div class="x_content">

                <table id="datatable" class="table table-striped table-bordered">
                  <thead>
                    <tr>
                     <th> Year </th>
                      <th> JAN  </th>
                      <th> FEB  </th>
                      <th> MAR  </th>
                      <th> APR  </th>
                      <th> MAY  </th>
                      <th> JUN  </th>
                      <th> JUL  </th>
                      <th> AUG  </th>
                      <th> SEP  </th>
                      <th> OCT  </th>
                      <th> NOV  </th>
                      <th> DEC  </th>
                      <th> WIN  </th>
                      <th> SPR  </th>
                      <th> SUM  </th>
                      <th> AUT  </th>
                      <th> ANN  </th>
                    </tr>
                  </thead>

                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    <!-- /page content -->

