{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<!-- page content -->

<div class="right_col" role="main">

    <div class="row">
        <div class="col-md-5 col-xs-12">
            <label for="heard">Year:</label>
            <select id="region_select" onchange="select_nochange()" class="form-control" required>
                {% for region in regions %}
                <option value="{{region.id}}">{{region.region}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-5 col-xs-12">
            <label for="heard">Data Type:</label>
            <select id="datatype_select" onchange="select_nochange()" class="form-control" required>
            {% for dt in dataType %}
                <option value="{{dt.id}}">{{dt.datatype}}</option>
            {% endfor %}
            </select>

        </div>
        <div class="col-md-2 col-xs-12">
            <label for="heard">&nbsp;</label>
            <button  onclick="download()" class="btn btn-success form-control">Download</button>
        </div>
    </div>


    <div class="x_content">
        <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab"
                                                          data-toggle="tab" aria-expanded="true">Get Data</a>
                </li>
                <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab"
                                                    aria-expanded="false">Reports</a>
                </li>
            </ul>

            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                    {% include "datatable.html" %}
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                    {% include "report.html" %}
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /page content -->
{% endblock %}

{% block jsblock %}
<script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js'%}"></script>

<script src="{% static 'vendors/jszip/dist/jszip.min.js'%}"></script>
<script src="{% static 'vendors/pdfmake/build/pdfmake.min.js'%}"></script>
<script src="{% static 'vendors/pdfmake/build/vfs_fonts.js'%}"></script>

<script src="{% static 'customjs/download.js'%}"></script>

{% endblock %}



