{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
  <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-database"></i> Total Records</span>
              <div class="count">{{total_records}}</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-database"></i> UK </span>
              <div class="count">{{uk_total}}</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-database"></i> England</span>
              <div class="count green">{{england_total}}</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-database"></i> Wales </span>
              <div class="count">{{wales_total}}</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-database"></i> Scotland</span>
              <div class="count">{{scotland_total}}</div>
            </div>
          </div>
          <!-- /top tiles -->

          <div class="row">


            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Session vs Region
                    <small>On Basis of Mean Temp</small></h2>

                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <canvas id="mybarChart"></canvas>
                  </div>
                </div>
              </div>

               <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Session vs Region[Fects] </h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                     <h4 id="coolest_lbl"></h4>
                    <h4 id="hotest_lbl"></h4>

                  </div>
                </div>
              </div>

            </div>

          <br />

        </div>
{% endblock %}

{% block jsblock %}
<script src="{% static 'customjs/dashboard.js'%}"></script>

{% endblock %}



